.list-link {
  text-decoration: none;
}

.aside-header a {
  text-decoration: none;
}

.aside-header h2 {
  margin-bottom: 10px;
}

.last-articles {
  margin-bottom: 20px;
}

.articles-list .list-item {
  margin-bottom: 10px;
}
